html {
    height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
header{
   margin-top: 0%;
   padding-top: 25px;
    position: sticky;
    width: 100%;
    background-color: #855B2B;
    height: 10%;
}   
nav ul{
    display:flex; 
    justify-content: space-evenly;
    text-decoration: none;
 }
 nav ul li a{
    display: inline;
    color: white;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 1px;
 }

 nav ul li :hover{
      color: white
 }
 main {
     width:100%;
     height:auto;
     margin: auto;
     overflow: hidden;
 }

 #quienes {
     min-height: 100vh;
     position: relative;
 }
 video {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .capa {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color:#855B2B;
     opacity: 0.5;
     mix-blend-mode: overlay;
 }
.somos {
    pading-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

footer{
     background-color: #E19F51;
}

form {
    width: 50%;
    background-color: #9796DD;
    margin: auto;
    border-radius: 5%;
    text-align: center;
    display: block;
    border-color: white;
}
input {
    border-radius: 5%;
}
textarea {
    background-color: #F0CFA9;
    border-radius: 5%;
} 
h1 {
    display: block;
    text-align: center;
    padding: 6%;
    color: white;
}
span {
    position: relative;
    display: block;
    text-align: center;
    padding: 0%;
    color: white;
}
p {
    color: white;
    display: block;
    padding: 5%;
    font-size: 20px;
}
article{
    width: auto;
    height: 100%;
    transition: height 8s; width: 1s;

}
article:hover {
    height: 900px; width: 900px;
} 

.btn {
    background-color: #C4C861;
}
.space {
    padding: 3%;
    background-color: #F0CFA9;
}
.responsive-Logo{
    bottom: 0%;
    position: absolute;
    width: auto;
    height: 100%;   
}

.Quienes-Somos{
text-align: center;
}
   
