html {
    height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;;
    text-decoration: none;
}
header{
   margin-top: 0%;
    position: fixed;
    width: 100%;
    background-color: #9796DD;
}     
nav ul{
   display:flex; 
   justify-content: space-evenly;
}
nav ul li{
    display: inline;
    color: white;
}
form {
    width: 25%;
    background-color: #9796DD;
    margin: auto;
    border-radius: 5%;
    text-align: center;
    display: block;
}
input {
    border-radius: 5%;
}
textarea {
    background-color: #F0CFA9;
    border-radius: 5%;
} 
h1 {
    position: relative;
    display: block;
    text-align: center;
    padding: 6%;
    color: #F5A445;
}
p {
    color: #855B2B;
    display: block;
    padding: 5%;
}
#section-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 1em
}
#contenedor {
display: grid;
grid-template-columns: 2fr 2fr 2fr;
grid-template-rows: 2fr 2fr 2fr;
height: 100%;
gap: 1em
}
.btn {
    background-color: #C4C861;
}
.space {
    padding: 3%;
    background-color: #F0CFA9;
}
.responsive-Logo{
    margin: auto;
    padding-top: 0%;
    width: 50%;
    max width: 100%;
    height: auto;
    display: block;
    
}
.responsive-Peter{
    width: 50%;
    height: auto;
    max-width: 50%
    position:relative;
    align-self: end;
    /*top: 40%;*/
    right: 70%;
}
.responsive-Mesa{
    width: 15%;
    max-width: 15%;
    height: auto;
    position: relative;
  margin-bottom: 0%;
  top: 40%;
  right: 5%;
}
.responsive-Florero {
    width: 9%;
    max-width: 9%;
    height: auto;
    position: relative;
    top: 13%;
    left: 7%;
}
.responsive-Estrellas{
    width: 250px;
    max-width: 250px;
    height: auto;
    /*max-width: 15%;*/
    position: relative;
    top: 20%;
    left: 5%;

}
.responsive-Personal {
    width: 350px;
    height: auto;
    position: relative;
    top: 0%;
    left: 20%;
}
.Carro {
    width: 20%;
    position: relative;
    padding-top: 30%;
}
.Quienes-Somos{
text-align: center;
}
   
