html {
    height: 100%;
}
body{
    margin-top: 0%;
    font-family:Arial, sans-serif;
    text-decoration: none;
}
header{
    margin-top: 0%;
    position: fixed;
    width: 100%;
    background-color: #9796DD;
}     
nav ul{
   display:flex; 
   justify-content: space-evenly;
}
nav ul li{
    display: inline;
}
form {
    width: 25%;
    background-color: #9796DD;
    margin: auto;
    border-radius: 5%;
    text-align: center;
    display: block;
}
input {
    border-radius: 5%;
}
textarea {
    background-color: #F0CFA9;
    border-radius: 5%;
} 
h1 {
    position: relative;
    display: block;
    text-align: center;
    padding: 6%;
    color: #F5A445;  
}
p {
    color: #855B2B;
    font size: 100px;
    display: block;
    padding: 5%;
}
.btn {
    background-color: #C4C861;
}
.space {
    padding: 3%;
    background-color: #F0CFA9;
}
.Logo{
    margin: auto;
    padding-top: 10%;
    width: 25%;
    height: auto;
    display: block;
}
.Peter{
    width: 28%;
    height: auto;
    position:relative;
    top: 50%;
    left: 70%;
}
.Mesa{
    width: 10%;
    height: auto;
    position: relative;
    right: 20%;
}
.Florero {
    width: 7%;
    height: auto;
    position: relative;
    right: 20%;
}
.Estrellas{
    width: 7%;
    position: relative;
}
.Personal {
    width: 20%;
    position: relative;
    padding-top: 10%;
}
.Carro {
    width: 20%;
    position: relative;
    padding-top: 30%;
}
#text {
    padding: 5%;
}
